.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-refill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, auto);
}

.image-grid .image-item:nth-child(5n) {
    grid-column-end: span 2;
}

.image-grid img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}